{% extends 'base.html' %}
{% load tags %}
{% block body %}
    <div class="container">
        <div class="jumbotron">

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">重置用户密码</h3>
                </div>
                <div class="panel-body">
                    <form action="" method="post" class="form-horizontal">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label" style="font-weight: inherit">
                                邮箱：
                            </label>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" value="{{ change_obj }}" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" style="font-weight: inherit">
                                密码：
                            </label>
                            <div class="col-lg-4">

                                <input type="password" class="form-control" name="password1">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" style="font-weight: inherit">
                                再次输入密码：
                            </label>
                            <div class="col-lg-4">
                                <input type="password" class="form-control" name="password2">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-8 pull-right">

                                <ul style="color: red">
                                    {% for k,v in error.items %}
                                        <li>{{ k }}:{{ v }}</li>
                                    {% endfor %}
                                </ul>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10  pull-right">
                            <button class="btn btn-info" type="submit">提交</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>


    </div>


{% endblock %}